#app {
    margin:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;

}

.gameHolder {
    width:150px;
    margin-bottom:30px;
    border-bottom: solid 1px black;
    margin: 50px 100px;
    cursor:pointer;
}

.briefRating {
    font-size:9px;
}

.briefDescription {
    margin-bottom:10px;
}

ul {
background-color: blue;
}

li {
    cursor:pointer;
    list-style-type:none;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    padding:10px;
    margin-top:20px;
    width:30vw;
    border-bottom:dotted 3px black;
    position:relative;
    background-color:purple;


}

li:nth-child(odd) {
    // background-color: rgb(214, 214, 236);
}

li input {

}

li.strike {
    text-decoration:line-through;
}

#addItem{
    background-color:none;
    margin-top:50px;
}

.right {
    position:absolute;
    right:50px;
    padding:10px;
}

.delete {
    cursor:pointer;
    position:absolute;
    left:15px;
    background-color:rgb(228, 228, 228);
}

.bigHolder {
    display:flex;
    margin:0 auto;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:column;
    width:80vw;
    margin-bottom:30px;
    border-bottom: solid 10px black;
    cursor:pointer;
    text-align:left;
    position:relative;
}

.close {
    padding:10px 30px;
    cursor:pointer;
    width:100px;
    height:50px;
    background-color:rgb(212, 212, 212);
    border:solid 1px darkgrey;
    border-radius:30px;
    position:absolute;
    right:0;
    display:flex;
    margin:0 auto;
    justify-content:center;
    align-items:center;
    color:rgb(31, 31, 31);
    font-size:24px;

}
